<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Receipts</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'home' %}">Receipts</a> |
                        <a href="{% url 'new_receipt' %}">New Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'list_category' %}">Categories</a> |
                        <a href="{% url 'new_category' %}">New Category</a>
                    </li>
                    <li>
                        <a href="{% url 'list_account' %}">Accounts</a> |
                        <a href="{% url 'new_account' %}">New Account</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
            {% block content %}
            {% endblock content %}
    </body>
</html>   