{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for expensecategory in expensecategory_list %}
                <tr>
                    <td>{{ expensecategory.name }}</td>
                    <td>{{ expensecategory.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main
{% endblock content %}